@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,300;1,700&display=swap');
body{
    font-family: 'Raleway', sans-serif;
}
h2{
  background-color: red;
  display: inline-block;
  text-align: center;
  padding: 100px ;
  box-sizing: border-box;
  margin: 20px 10px;
  border-radius: 50%;
  border: 1px solid orange;
}